body {
  background-color: #555555;
  color: white;
}

@media (max-width: 1200px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
}

h2{
  text-align: center;
}

footer {
  background-color: #262626;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center{
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    color: white;
  }
}

#map{
  width: 85%;
  height: 650px;
 }

 #mapUP{
   width: 85%;
   height: 650px;
 }

 #mapDetails{
   width: 85%;
   height: 650px;
 }

 #postosMaisBaratos{
  background-color:silver;
  color:black
 }
